.social {
  display: flex;
  position: relative;
  top: 30rem;
  justify-content: center;
  right: 4rem;
}

.description {
  display: flex;
  height: 25vh;
  width: 20rem;
  border: solid black 2px;
  justify-content: center;
  position: absolute;
  backdrop-filter: blur(70px);
  top: 10rem;
  right:40%;
  color: white;
}
