
.citiesContainer {
    background-color: #ffffff60;
    display: flex;
    justify-content: space-between;
    height: 36%;
    backdrop-filter: blur(8px);
    position: absolute;
    bottom: 5%;
    width: 100%;
    
  }
  
  .emptyContainer {
    display: flex;
    justify-content: space-between;
    height: 30%;
   
  }