
.citiesContainer {
    background-color: #ffffff60;
    display: flex;
    justify-content: space-between;
    height: 26vh;
    backdrop-filter: blur(7px);
    position: relative;
    bottom: -21rem;
    
  }
  
  .emptyContainer {
    display: flex;
    justify-content: space-between;
    height: 25vh;
   
  }