.app {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.link{
  background-color: green;
  display: flex;
  position: relative;
  bottom:0.5px;
  right: -10rem;
  margin: 10rem 40rem;

}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
}

.container {
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  top: 0;
  overflow: hidden;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 53vh 25vh;
}

.app,
.container {
  background-image: url("./assets/startscreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}


.button {
  display: flex;
  position: relative;
  top: 0.5rem;
  right: -70rem;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active:after {
  border-width: 0 0 0px;
}

.button:active {
  padding-bottom: 10px;
}

