.app {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
}

.container {
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  top: 0;
  overflow: hidden;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 53vh 25vh;
}



.citiesContainer {
  background-color: #ffffff60;
  display: flex;
  justify-content: space-between;
  height: 25vh;
  backdrop-filter: blur(7px);
}

.emptyContainer {
  display: flex;
  justify-content: space-between;
  height: 25vh;
 
}

.app,
.container {
  background-image: url("./assets/startscreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
